.checkOutMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.checkOutMain h1 {
  color: #6c6e70;
}

.checkOutSubMain h1 {
  color: #072a48;
}

.checkOutSubMain {
  /* width: 50%; */
  display: flex;
  margin: 0 30px 30px 30px;
  /* width: 40%; */
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.checkOutContainer {
  width: 40%;
}

.cashOnDel {
  display: flex;
}

.cashOnDel p {
  font-size: 20px;
}

/* .checkOutCart {
  padding: 20px;
  background: rgb(192, 192, 200);
} */

.checkOutContainer button {
  display: flex;
  height: 54px;
  width: 463px;
  /* margin-left: 29px; */
  border-style: none;
  border-radius: 10px;
  background: #072a48;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .MuiFilledInput-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.06);

    -webkit-transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .checkOutSubMain {
    /* width: 50%; */
    display: flex;
    margin: 0 30px 30px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .css-batk84-MuiInputBase-root-MuiFilledInput-root {
    border-radius: 0px;
    width: max-content;
  }

  .checkOutContainer button {
    width: 335px;
  }

  .productHeaderContainer {
    display: flex;
    /* width: 200px; */
  }

  .cartDetails {
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .MuiPaper-root {
    width: 50%;
  }
}
